.page {
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 85px;
}

.page-bg {
  background-image: url("../../../assets/bg-home-screen.png");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.page-container {
  position: relative;
  max-width: 1296px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 150px;
}

.page-title {
  text-align: center;
  font-size: var(--title-page-size);
}
