.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 10;
}

.modal.active {
  display: flex;
}
