.form-wrapper {
  background-color: #2c2c2c;
  padding: 40px;
  width: fit-content;
  border: 1px solid #323232;
  border-radius: 5px;
  position: relative;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.form__title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
}

.form__name {
  display: flex;
  gap: 30px;
}

.form__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.form__input {
  background-color: #111111;
  border: 1px solid #636363;
  height: 25px;
  padding: 8px;
}

.form__button {
  background-color: #59acff;
  height: 40px;
  padding: 0 20px;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
}

.form__subtitle {
  font-size: 12px;
  color: #636363;
}

.form__close {
  position: absolute;
  right: 40px;
  top: 45px;
  height: 30px;
  cursor: pointer;
}

.form__error {
  color: tomato;
}
