.container-post {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.container-post__info {
  font-size: 30px;
}

.container-post__info_title {
  font-size: 27px;
  font-weight: 700;
}

.container-post__info_subtitle {
  font-size: 18px;
}
