.link-list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: 600;
  list-style: none;
  gap: 100px;
}

.large {
  font-size: 24px;
}

.link-item {
  text-decoration: none;
}
