.home-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 700;
}

.home-screen__title {
  font-family: "Garamont";
  font-size: 72px;
}

.home-screen__sub-title {
  position: absolute;
  bottom: 100px;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.home-screen__sub-title_img {
  width: 20px;
  height: 30px;
}
