.contacts {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contacts__title {
  font-size: 24px;
  font-weight: 700;
}

.constacts__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.constacts__list_item {
  font-size: 18px;
}
