.container {
  max-width: max-content;
  display: flex;
  flex-direction: column;
}

.container__content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 44px;
  row-gap: 80px;
  justify-content: center;
}
