.container {
  max-width: max-content;
  display: flex;
  flex-direction: column;
}

.list__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.list__content_posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list__title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 80px;
  text-align: center;
}
.normal {
  column-gap: 44px;
  row-gap: 80px;
}

.small {
  gap: 24px;
}

.large {
  width: 100%;
  justify-content: space-around;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
